{% load staticfiles %}
<html>
<head>
    <title>Xun V</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'leaflet/leaflet.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
{% include "includes/nav.html" %}

<main>
    <div class="container">
    {% block content %}

    {% endblock %}
    </div>
</main>
</body>
<script src="{% static 'js/jquery-2.2.2.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'leaflet/leaflet.js' %}"></script>
<script src="{% static 'leaflet/plugins/leaflet.ajax.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
</html>
